body{
    text-align: center;
    background-image: url(https://www.fiftysounds.com/images/graphics/vintage-background-geometric-triangles-purple-turquoise-3421.jpg);
    background-size: 100% ;
    background-repeat: repeat-y;
}
*{
    margin-bottom: 90px;
}
button{
    background-image: url(programacionnnnnnnnnnnnnn.jpg);
    color: white;
    padding: 30px 40px;
    font-size: 30px;
    border-radius: 25px;
}
#cuadrito>button{
    background-color: darkgrey !important;
    background-image: none;
}
#cuadrito{
    display: none;
}
.botesito{
background-image: url(programacionnnn.png);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
padding: 25px;
margin: 20px;
display: none;
}